html,
body {
  height: 100vh;
  overflow: hidden;
}

.special-button{
    position: relative;
    transition: all .2s linear;
    color: #fff;
    border: 1px solid #fff;
    max-width: 200px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;

    .icon{
        height: 28px;
    }

    &:hover{
        background-color: #fff;
    }
}

.sections {
    overflow: hidden;
    height: 100vh;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    section {
        height: 100vh;
        scroll-snap-align: start;
        position: relative;
    }
}

section#home{
    display: flex;

    aside{
        color: #fff;
        padding: 12px 50px;
        flex: 10;
        background-color: #8257e6;

        display: flex;
        justify-content: center;
        align-items: center;

        .introduction{
            width: 90%;
        
            h1{
                font-size: 4rem;
                line-height: 3.5rem;
            }

            h2{
                line-height: 65px;
                font-size: 4.2rem;
            }

            .Typewriter{
                margin-top: 15px;
                font-size: 30px;
                min-height: 70px;
            }

        }
    
    }

    > div{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0e0e0e;
        flex: 7;
        padding-right: 50px;

        img{
            width: 90%;
        }
    }

    .special-button:hover{
        color: #8257e6;
    }
}

section#about{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    flex-wrap: wrap;
    padding: 50px;
    background-color: #121214;
    
    img{
        width: 40%;
        min-width: 250px;
    }

    .content{
        h1{
            font-size: 50px;
            color: #d1d1d1;
        }

        p{
            margin-bottom: 10px;
        }

        color: #fff;
        width: 400px;
    }

    .special-button:hover{
        color: #121214;
    }
}

section#skills{
    background-color: #6421ff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 40px;
    
    img{
        width: 40%;
    }

    .content{
        h1{
            font-size: 50px;
            color: #d1d1d1;
        }

        color: #fff;
        width: 400px;

        .technologies{
            margin: 30px 0;
            display: flex;
            align-items: center;
            gap: 10px;
            flex-wrap: wrap;

            .tech{
                height: 40px;
                width: 40px;
                color: #fff;
                fill: #fff;
            }
        }
    }

    .special-button:hover{
        color: #6421ff;
    }
}

section#contact{
    padding: 50px 50px;
    background-color: #121214;
    display: flex;
    align-items: center;
    justify-content: center;

    h1{
        font-size: 50px;
        color: #d1d1d1;
        text-align: center;
    }
    
    form{
        margin: 0 auto;
        max-width: 600px;
        input, textarea{
            &::placeholder{
                color: rgb(206, 206, 206);
            }

            font-size: 18px;
            color: #fff;
            outline: none;
            width: 100%;
            border: 0;
            border-bottom: 2px solid #fff;
            background-color: transparent;
            resize: none;
            padding: 5px;
        }

        label{
            display: block;
            margin-top: 20px;
            color: #898989;
        }

       
    }

    .special-button{
        border-color: #8257e6;
        font-size: 20px;
        margin: 0 auto;
        width: 300px;
        &:hover{
            background-color: #8257e6;
            color: #fff;
        }
    }
}

section#social{
    background-color: #6421ff;
    padding: 50px;
    filter: brightness(0.8);

    > div{
        padding-top: 50px;
        display: flex;
        flex-wrap: wrap;
        height: 70%;
        gap: 30px;
        align-items: center;
    
        ul{
            min-height: 150px;
            font-size: 20px;
            list-style: none;
            color: #fff;

            .title{
                color: #d1d1d1;
            }

            a{
                display: flex;
                align-items: center;
                gap: 8px;
                color: #fff;
                text-decoration: none;
                

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    
    span{
        margin-top: 10px;
        display: block;
        width: 100%;
        text-align: center;
        font-size: 20px;
        color: #fff;
    }
}

@media (max-width: 1024px){
    .sections{
        overflow-y: auto;
    }
}

@media (max-width: 800px){
    .sections {
        section{
            scroll-snap-align: none;
            height: auto;
        }
    }

    section#home{
        flex-wrap: wrap;
        height: 98vh;

        aside{
            flex: none;
            width: 100%;
            height: 55%;
            padding: 12px 24px;

            .introduction{
                margin-top: 40px;
                width: 100%;

                h1{
                    font-size: 2.8rem;
                    line-height: 3.2rem;
                    text-align: center;
                }

                h2{
                    font-size: 3rem;
                    line-height: 50px;
                    text-align: center;
                }

                .Typewriter{
                    font-size: 25px;
                    text-align: center;
                }
            }
            
        }

        > div{
            padding: 20px;
            flex: none;
            width: 100%;
            height: 47%;

            img{
                position: relative;
                right: 0;
                margin: 0 auto;
                width: 45%;
                min-width: 250px;
            }
        }

        .special-button{
            left: 50%;
            transform: translateX(-50%);
        }
    }

    section#about{
        flex-direction: column-reverse;
        gap: 34px;

        > img{
            min-width: 200px;
        }
        .content{
           
            text-align: center;
            h1{
                font-size: 40px;
            }

            .special-button{
                
                right: 0;
                margin: 0 auto;
            }
            
        }
    }

    section#skills{
        > img{
            display: none;
        }

        .special-button{      
            right: 0;
            margin: 0 auto;
        }
    }

    section#contact{
        h1{
            font-size: 40px;
        }
    }
    
}

@media (max-width: 570px){
    section#home{
        aside{

            .introduction{
                h1{
                    font-size: 2.6rem;
                }

                h2{
                    line-height: 45px;
                    font-size: 2.8rem;
                }
    
                .Typewriter{
                    font-size: 22px;
                }
            }

            img{
                margin-top: 50px;
            }
        }
    }


    section#social{
        div ul{
            min-height: auto;
        }
    }
}

@media (max-width: 470px){
    section#home{
        aside{

            .introduction{
                h1{
                    font-size: 2.2rem;
                    line-height: 3rem;     
                }

                h2{
                    line-height: 40px;
                    font-size: 2.5rem;
                }
    
                .Typewriter{
                    font-size: 20px;
                }
            }

            img{
                margin-top: 90px;
            }
        }
    }  

    section#about{
        .content{
            width: auto;
        }
    }
    
    section#skills{
        .content{
            h1{
                font-size: 40px;
                text-align: center;
            }

            p{
                text-align: center;
            }

            .technologies{
                justify-content: center;
                margin-top: 10px;
            }
        }
    }

    section#contact{
        h1{
            font-size: 28px;
        }
    }

    section#social{
        .my-email{
            font-size: 18px;
        }
    }
}

@media (max-width: 385px){

    section#home{
        aside{

            .introduction{
                h1{
                    font-size: 2rem;
                }

                h2{
                    line-height: 40px;
                    font-size: 2.2rem;
                }
    
                .Typewriter{
                    font-size: 18px;
                }
            }
        }
    }

    section#skills{
        .content{
            .technologies{
                justify-content: center;
                margin-top: 10px;
                .tech{
                    width: 35px;
                    height: 35px;
                }
            }
        }
    }

}