html,
body {
  height: 100vh;
  overflow: hidden;
}

.sections {
    overflow: hidden;
    height: 100vh;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    section {
        height: 100vh;
        scroll-snap-align: start;
        position: relative;
    }
}

@media (max-width: 1024px){
    .sections{
        overflow-y: auto;
    }
}

@media (max-width: 800px){
    .sections {
        section{
            scroll-snap-align: none;
            height: auto;
        }
    }
}