html, body{
    overflow: auto;
}

@media screen and (max-width: 1000px) {
    section#projects{
        padding: 100px 60px !important;
    }    
}

@media screen and (max-width: 550px) {
    section#projects{
        padding: 100px 40px !important;
    }    
}
